@import './style/common.scss';
@import './style/icon.scss';

View{
  -webkit-overflow-scrolling: touch;    
}
page,view,image,text,input,button{
  margin: 0;
  padding: 0;
  -webkit-appearance: none;
}
page,.com{
  --theme: #fca652;
}
page{
  width: 100%;
  height: 100%;
  background: #FFF;
  overflow: hidden;
  font-size: 26rpx;
  color:#4c4c4c;
  -webkit-overflow-scrolling: touch;    
}